body {
	background-color: rgb(58,58,58);
}
/*font work*/
p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}
h1,h2,h3,h4 {
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 3.5em;
}
h4 {
	font-size: 2em;
}
h3 {
	color: rgb(115,115,115);
}
/*general bootstrap*/
.container-fluid {
	background-color: #FFFFF0;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
}
/* Zoom bar line stuff eventually figure out how to make the line shorter and centered*/
.col-sm-3.text-center.zoomLabels {
	color: black;
	font-size: 1.675em;
	text-decoration:none;
}
.col-sm-3.text-center.zoomLabels:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.col-sm-3.text-center.zoomLabels:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/* intro/top */
.mainBanner {
	margin-left: auto;
	margin-right: auto;
}
.introContainer {
	width: 100%;
}
.details {
	width: 80%;
	height: 4.167em;
	margin: 0 auto;
}
.namePlate {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0em;
	font-size: 3.0;
}
.zoomBar {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}
/* My picture information */
.media {
	margin-top: 1em;
	margin-left: 10%;
	margin-right: 10%;
}
.my_Pic {
	height:300px;
	width: 200px;
}
.media-body {
	padding-top: 5%;
	padding-left: 5%;
}
/*Skills*/
.skills-container {
	margin-top: 200px;
	margin-left: 5%;
	height: 475px;
	width: 90%;
	padding-bottom: 200px;
}
.list-padding {
	padding-top: .1em;
	padding-bottom: .2em;
}
.skills-about {
	font-size: 1.2em;
}
#prof-list {
	list-style-type: none;
}
/*a bit redundant but may format differently further...*/
#skill-bar-list {
	list-style-type: none;
}
.skill-bars {
	background-color: #8FBFD1;
	height: .9em;
	display: inline-block;
}
#contact-list {
	list-style-type: none;
}
#contact-list li {
	padding-top: 1em;
	padding-bottom: .5em;
	color: black;
}
#contact-list a {
	color: black;
}

/*Projects template*/
.projects-container {
	width: 100%;
	height: 58.33em;
	padding-top: 16.666em;
}

/*Education*/
#education-container {
	width: 100%;
	height: 50em;
	padding-top: 16.666em;
}

/*Footer*/
#footer-bar {
	margin-left: -15%;
	width: 110%;
	height: 4em;
	background-color: black;
}
