body {
	background-color: rgb(58,58,58);
}
.container-fluid {
	background-color: #FFFFF0;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
}
/* CSS declarations go here */
.mainBanner {
	margin-left: auto;
	margin-right: auto;

}
.introContainer {
	width: 100%;
}
.details {
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
.namePlate {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	font-size: 42px;
}

.zoomBar {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}
h3 {
	color: rgb(115,115,115);
}
/* Zoom bar line stuff eventually figure out how to make the line shorter and centered*/
.col-sm-3.text-center.zoomLabels {
	color: black;
	font-size: 20px;
	text-decoration:none;
}
.col-sm-3.text-center.zoomLabels:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.col-sm-3.text-center.zoomLabels:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* My picture information */
.media {
	margin-top: 60px;
	margin-left: 10%;
	margin-right: 10%;
}
.my_Pic {
	height:300px;
	width: 200px;
}
.media-body {
	padding-top: 5%;
	padding-left: 5%;
}

/*Skills*/
.skills-container {
	margin-top: 200px;
	margin-left: 5%;
	height: 475px;
	width: 90%;
	padding-bottom: 200px;
}
.list-padding {
	padding-top: .1em;
	padding-bottom: .2em;
}
#prof-list {
	list-style-type: none;
}
/*a bit redundant but may format differently further...*/
#skill-bar-list {
	list-style-type: none;
}
.skill-bars {
	background-color: #8FBFD1;
	height: 10px;
	display: inline-block;
}
#contact-list {
	list-style-type: none;
}
#contact-list li {
	padding-top: 1em;
	padding-bottom: .5em;
	color: black;
}
#contact-list a {
	color: black;
}

/*Projects template*/
.projects-container {
	width: 100%;
	height: 700px;
	padding-top: 200px;
}

/*Education*/
#education-container {
	width: 100%;
	height: 400px;
	padding-top: 200px;
}
